<ion-footer class="ion-no-border">
  <ion-footer>
    <ion-toolbar>
      <div class="footer-content">
        <div class="footer-section">
          <h4>Enlaces Rápidos</h4>
          <ul>
            <li><a routerLink="/home">Inicio</a></li>
            <li><a routerLink="/store">Productos</a></li>
            <li><a routerLink="/lore">Acerca de</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h4>Contacto</h4>
          <ul>
            <li>Correo: TrapGames&#64;TrapGames.com</li>
            <li>Teléfono: 495 101 6081</li>
          </ul>
        </div>
        <div class="footer-section">
          <h4>Redes Sociales</h4>
          <ul>
            <li><a href="https://www.facebook.com/search/top?q=figueroa%20alejandro">Facebook</a></li>
            <li><a href="https://www.instagram.com/figueroaaaw/">Instagram</a></li>
            <li><a href="#">Twitter</a></li>
          </ul>
        </div>
      </div>
    </ion-toolbar>

</ion-footer>