<ion-header [translucent]="true">
  <app-nav></app-nav>
<ion-toolbar>
  <ion-title>lore</ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="centered-content">
<div class="page-title">
  <h2>LORE L.I.E.G.</h2>
</div>

<div class="lorem-text">
  LIEG es un juego de terror que cuenta la historia de Laila un chica que visita a su abuela 
  que es la enfermera  de minsnebalam, ella se da cuenta antes de llegar a la hacienda que están 
  sucediendo cosas extrañas dentro de la hacienda e intenta buscar a su abuela para que escapen juntas de ese lugar.
  <br>
  <ion-img id="LiegLogo" src="assets/img/LiegLogo.jpg"></ion-img> <!-- Imagen del juego -->

  <br>
  <h3>Misnebalam</h3> 

Misnebalam es un pequeño poblado ubicado en Yucatán, México, conocido por sus historias de terror y fenómenos paranormales. Fue fundado como una hacienda henequenera y alcanzó su auge a finales del siglo XIX y principios del XX. Sin embargo, con el declive de la industria del henequén, la población fue disminuyendo hasta que finalmente quedó completamente deshabitada en 2005. Las "ruinas" de Misnebalam incluyen los restos de la hacienda y algunas viviendas abandonadas, que hoy en día atraen a curiosos, exploradores urbanos y aficionados a lo paranormal.
 <br>
 <br>
Lo que hace a Misnebalam especialmente famoso son las leyendas de fantasmas y sucesos inexplicables que, según los lugareños y visitantes, ocurren en sus ruinas. Entre las historias más conocidas están:
 
El fantasma de Juliancito: Se dice que un niño llamado Juliancito murió de manera violenta en la hacienda, y desde entonces su espíritu permanece en el lugar. Según los relatos, su presencia se manifiesta en risas infantiles, sombras que se mueven rápidamente y la sensación de que alguien te está observando.
 
Apariciones de una mujer vestida de blanco: Muchos afirman haber visto la figura de una mujer vestida con un traje blanco antiguo, que vaga por los alrededores de las ruinas. La leyenda sugiere que podría ser una antigua habitante de la hacienda que murió en circunstancias trágicas.
 <br>
 <br>
Fenómenos inexplicables: Existen reportes de puertas que se cierran solas, cambios bruscos de temperatura, voces que se escuchan en lugares vacíos y objetos que se mueven sin explicación. Los visitantes también han hablado de sentir una energía densa o una presencia sobrenatural en el lugar.

</div>
</ion-content>
<ion-footer>
<app-footer></app-footer>
</ion-footer>