<ion-header [translucent]="true">
  <app-nav></app-nav>
<ion-toolbar>
  <ion-title>lore</ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="centered-content">
<div class="page-title">
  <h2>LORE L.I.E.G.</h2>
</div>

<div class="lorem-text">
  LIEG es un juego de terror que cuenta la historia de Laila un chica que visita a su abuela 
  que es la enfermera  de minsnebalam, ella se da cuenta antes de llegar a la hacienda que están 
  sucediendo cosas extrañas dentro de la hacienda e intenta buscar a su abuela para que escapen juntas de ese lugar.
</div>
</ion-content>
<ion-footer>
<app-footer></app-footer>
</ion-footer>