
<ion-header [translucent]="true">
    <app-nav></app-nav>
  <ion-toolbar>
    <ion-title>lore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="centered-content">
  <div class="page-title">
    <h2>Lorem Ipsum</h2>
  </div>

  <div class="lorem-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. 
    Cras venenatis euismod malesuada. Nullam ac erat in elit placerat suscipit at sit amet elit. Morbi pulvinar
    tellus nec quam porttitor, non fermentum sapien dapibus. Donec facilisis dui at nulla fermentum bibendum. 
    Proin imperdiet, magna at condimentum consectetur, enim felis fermentum lectus, et elementum odio metus ut odio.
    Nulla at arcu eget lacus pulvinar faucibus. Integer aliquam arcu vitae metus cursus, a tempor magna molestie. 
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi mollis 
    consectetur tellus, vitae condimentum felis dapibus eu. Mauris tincidunt arcu in vehicula pellentesque. 
    Suspendisse potenti. Maecenas auctor est in malesuada tincidunt. Vestibulum vitae arcu lorem.
  </div>
</ion-content>
<ion-footer>
  <app-footer></app-footer>
</ion-footer>