ion-content {
    padding-bottom: 40px; /* Espacio adicional para dar margen inferior */
    position: relative;
  }
  
  ion-content:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px; /* Altura del margen invisible */
    background-color: transparent; /* Fondo transparente */
  }
  