<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  

<br> 
<br>
<br>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
     
    </ion-card-header>
    <form (ngSubmit)="onLogin()"> <!-- Llama al método onLogin -->
      <ion-item>
        <ion-input [(ngModel)]="email" name="email" type="email" placeholder="email@domain.com" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Contraseña" required></ion-input>
      </ion-item>
      <ion-button expand="full" type="submit" color="primary">Iniciar Sesión</ion-button>
    </form>
    <ion-text class="ion-text-center" color="medium">
      <p>¿No tienes cuenta? <a routerLink="/register">Regístrate aquí</a></p>
    </ion-text>
  </ion-card>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>