ion-content {
    --padding-top: 16px;
    --padding-bottom: 16px;
  
    .form-container {
      max-width: 800px;
      margin: 0 auto;
      padding: 16px;
    }
  
    ion-item {
      margin-bottom: 0px;
    }
  
    ion-button {
      margin-top: 0px;
    }
  
    ion-input {
      margin-top: 13px;
    }
  }

  ion-card-header,
  ion-card-content {
    text-align: center;
  }
  ion-card {
    
    max-width:600px; /* Ajusta el ancho máximo según tus necesidades */
    max-height: 700px;
    margin: 0 auto;   /* Centra el card horizontalmente */
    padding: 20px;    /* Agrega un poco de relleno alrededor del contenido */
  }
  ion-footer {
    background-color: #222;
    color: white;
    padding: 10px;
    text-align: center;
  }