<ion-content [fullscreen]="true">
<app-nav></app-nav>
<ion-content>
  <div class="game-section">
    <h2 class="section-title">¡Puedes descargar el juego en estas plataformas!</h2>
    <div class="game-banner">
      <ion-img id="LiegLogo" src="assets/img/panoramica.jpeg"></ion-img>
      <h3 class="game-title">¡Juega ahora!</h3>
    </div>
    <div class="platforms">
      <div class="platform-item">
        <ion-img src="assets/img/steam.jpg" class="platform-logo"></ion-img>
        <ion-button href="https://drive.google.com/file/d/18GEXsXpo8KsRRaipI1a_XK701B2ZLRTN/view?usp=sharing">
          ¡Haz click aquí!
        </ion-button>
      </div>
      <div class="platform-item">
        <ion-img src="assets/img/Epic_Games_Store_29.png" class="platform-logo"></ion-img>
        <ion-button href="https://drive.google.com/file/d/18GEXsXpo8KsRRaipI1a_XK701B2ZLRTN/view?usp=sharing">
          ¡Haz click aquí!
        </ion-button>
      </div>
      <div class="platform-item">
        <ion-img src="assets/img/nintendo-switch-removebg-preview1.png" class="platform-logo"></ion-img>
        <ion-button href="https://drive.google.com/file/d/18GEXsXpo8KsRRaipI1a_XK701B2ZLRTN/view?usp=sharing">
          ¡Haz click aquí!
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>
</ion-content>