<ion-content [fullscreen]="true">
<app-nav></app-nav>

  <div class="checkout-container">
    <ion-list class="cart-list">
      <ion-item *ngFor="let cart of cartItems" class="cart-item">
        <ion-thumbnail slot="start" class="cart-thumbnail">
          <img [src]="cart.images[0] || 'assets/placeholder.png'" alt="{{ cart.name }}">
        </ion-thumbnail>
        <ion-label class="cart-label">
          <h2>{{ cart.name }}</h2>
          <p>{{ cart.description }}</p>
          <p>Price: {{ cart.price | currency:'USD' }} x {{ cart.quantity }}</p>
        </ion-label>
        <ion-button color="danger" (click)="removeFromCart(cart.id_product)">Eliminar</ion-button>
      </ion-item>
    </ion-list>

    <!-- Formulario para los datos del pago y la dirección -->
    <div class="checkout-details">
      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-input [(ngModel)]="address" placeholder="Ingresa tu dirección" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Método de pago</ion-label>
        <ion-select [(ngModel)]="paymentMethod" placeholder="Selecciona un método de pago" required>
          <ion-select-option value="PayPal">PayPal</ion-select-option>
          <ion-select-option value="Tarjeta de crédito">Tarjeta de crédito</ion-select-option>
          <ion-select-option value="Transferencia bancaria">Transferencia bancaria</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="cart-total">
      <p>Total: {{ totalCart | currency:'USD' }}</p>
      <ion-button expand="full" (click)="checkout()">Comprar</ion-button>
    </div>
  </div>

<app-footer></app-footer>
</ion-content>