
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" class="center-buttons">
      <ion-button size="large" routerLink="/home">
        <ion-icon name="home" size="large"></ion-icon>
      </ion-button>
      <ion-button routerLink="/store">
        <ion-icon name="storefront" size="large"></ion-icon>
      </ion-button>
      <ion-button routerLink="/history">
        <ion-icon name="game-controller" size="large"></ion-icon>
      </ion-button>
      <ion-button routerLink="/cart">
        <ion-icon name="cart" size="large"></ion-icon>
      </ion-button>
      <ion-button routerLink="/lore">
        <ion-icon name="reader-sharp" size="large"></ion-icon>
    </ion-button>
      <ion-button routerLink="/login">
        <ion-icon name="log-in-sharp" size="large"></ion-icon>
    </ion-button>
  <ion-button routerLink="/profile">
    <ion-icon name="person" size="large"></ion-icon>
  </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>