<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-label>Home</ion-label>
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button routerLink="/login">
        <ion-label>login</ion-label>
      </ion-button>
  
        <ion-button routerLink="/register">
          <ion-label>sing-up</ion-label>
        </ion-button>
    
      <ion-button routerLink="/lore">
        <ion-label>About</ion-label>
      </ion-button>

      <ion-button routerLink="/contact">
        <ion-label>Contact</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
